{% extends 'base.html' %}
{% block title %} Восстановление пароля {% endblock %}
{% block content %}
<section class="section-login">
    <div class="container container-login">
        <div class="login-reset-form">
            <p>Вам нужно ввести ваш e-mail, который вы указывали при регистрации</p>
            <form action="." method="post">
               <input class="input-login" type="email" name="email" autocomplete="email" required>
                <p><input class='input-login input-login-submit' type="submit" value="Отправить"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
</section>
{% endblock %}