{% extends 'base.html' %}
{% block title %} Восстановление пароля {% endblock %}
{% block content %}
<section class="section-login">
    <div class="container container-login">
        <div class="login-reset-form">
             <h1>Восстановление пароля</h1>
    {% if validlink %}
        <p>Введите новый пароль:</p>
        <form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
        <p><input type="submit" value="Сменить пароль"></p>
     </form>
    {% else %}
    <p>Ссылка недействительная,попробуйте восстановить пароль заного</p>
    {% endif %}
            </form>
        </div>
    </div>
</section>
{% endblock %}