 {% extends 'base.html' %}
  {% block menu %}
    <main>
        <section class="section-info">
            <h2 class="title" id="about">
                О нас
            </h2>
            <p class="text-about">Ищете место, где можно поесть вкусные бургеры, бургерная Meat идеально подходит для такого.</p>
            <p class="text-about">У нас вы можете провести время за общением в компании или просто как следует отдохнуть после рабочих будней </p>
            <p class="text-about">Мы работаем как отличная бургерная. Мы предлагаем нашим посетителям популярные блюда, которые приходятся по вкусу жителям больших городов и не только. Мясные котлеты в тесте, жареная картошка — это еда, вышедшая с уличных прилавков, сегодня находится на одном уровне по качеству приготовления и вкусу с другими кухнями</p>
            <p class="text-about">А ещё мы работаем как спорт-бар.</p>
            <p class="text-about">В нашем заведении умеренные цены.</p>
            <p class="text-about">У нас есть возможность подключиться к Wi-Fi, организован бизнес-ланч, осуществляется доставка блюд в офис или на дом, доступна парковка — специально для вашего удобства. Кроме того, здесь вы можете расслабиться с кальянной трубкой в руках.</p>
        </section>
    </main>
 {% endblock %}